<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" >
      <table class="table">
        <thead>
          <tr>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @channels.each do |channel| %>
            <tr>
              <td><%= channel.name %> </td>
              <td>
                <%= link_to 'Leave the channel', channel_membership_path(channel, @my_channel_memberships[channel.id]), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"}, class: 'btn bg-warning-subtle rounded-0' %>
              </td>          
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-10 border border-warning border-top-0 border-bottom-0" >

    </div>
  </div>
 </div>