<div class="container-fluid">
  <div class="row">
    <div class="container mt-3">
      <div class="card">
        <div class="card-header">
          <h4 class="fw-bold mb-0">New channel</h4>
        </div>
        <div class="card-body">
          <%= form_with model: @channel do |form| %>
            <div class="mb-3">
              <%= form.text_field :name, class: 'form-control', placeholder: "Enter channel name" %>
            </div>
            <%= form.submit "Create channel", class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>