
<div id="new_message_form"> 
  <%= form_with model: [@channel, Message.new] do |form| %>
    <%= form.text_field :body, class: 'form-control' %>        
    <%= form.submit "Send", class: 'btn bg-warning-subtle rounded-0 my-2 ' %>
  <% end %>
</div>