
<%= turbo_frame_tag membership do %> 
  <div class="d-flex justify-content-between align-items-center">
    <div><%= link_to "#{membership.channel.name}", channel_path(membership.channel_id), data: { turbo_frame: "_top" }%></div>
    <div> 
      <%= button_to channel_membership_path(membership.channel, membership), method: :delete, class: 'btn bg-transparent rounded-0' do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
  </div>
<% end %>


