<% unless @memberships.exists?(user_id: current_user.id) %>
  <div class="container mt-3">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between p-3">
        <p class="fw-bold mb-0 text-center w-100">You are not a member of this channel.</p>
      </div>
      <div class="card-body text-center">
        <p class="mb-0">
          <%= link_to "Please add a channel.", channels_path, class: "btn btn-primary fw-bold" %>
        </p>
      </div>
    </div>
  </div>
<% else %>
  <div data-mdb-perfect-scrollbar-init style="position: relative; height: calc(100vh - 170px); overflow-y: scroll;">
    <%= turbo_stream_from @channel %>
    <%= turbo_frame_tag "all_messages" do %>
      <%= render partial: 'messages/list_messages', collection: @messages, as: :message %>
    <% end %>
  </div>
<% end %>

